In [78]:
from IPython.core.debugger import set_trace
import numpy as np
import pandas as pd 
import os
import matplotlib.pyplot as plt 
import random
import pickle 
import time

%matplotlib inline

In [79]:
from faker import Faker
fake = Faker()

Timeseries

In [80]:
def fake_timeseries_rows(num=1, seed=0):
    """
    """
    fake.seed_instance(seed)
    
    time_gen = fake.time_series(start_date= f"-{num}d", end_date="now", precision=3600)
    
    output = [
        {
            "datetime" : next(time_gen),
            "name" :  fake.name(),
            "email" : fake.free_email(),
            "country" : fake.country(),
            "department": fake.job(),
            "D-o-B" : fake.passport_dob(),
            "Passport" : fake.passport_number(),
            "Phone-num" :  fake.phone_number(),
        }
        for x in range(num)
    ]
    return output

In [81]:
df = pd.DataFrame(fake_timeseries_rows(1000, seed=3))
df

,datetime,name,email,country,department,D-o-B,Passport,Phone-num
0,"(2020-09-19 14:39:57, 856.6726575308089)",Jacqueline Munoz,jacobsregina@yahoo.com,Eritrea,Structural engineer,1939-05-07,W78876232,601.290.4047x96669
1,"(2020-09-19 15:39:57, 1600.6358017827383)",Sherry Davis,troyscott@hotmail.com,Jordan,Illustrator,1964-10-09,958969350,925-899-1394x411
2,"(2020-09-19 16:39:57, 1735.2051218911479)",Karen Cooper,jenkinsedward@yahoo.com,Japan,Pathologist,1923-08-22,T90695848,040.119.8036
3,"(2020-09-19 17:39:57, 1049.8046353286627)",Michael Whitney,lee26@yahoo.com,Kuwait,"Scientist, product/process development",1960-01-06,T84634648,850-695-0699x2057
4,"(2020-09-19 18:39:57, 1270.497089962758)",Lisa Ramirez,djohnson@hotmail.com,Angola,Merchant navy officer,1941-08-19,499525255,+1-446-109-2483x435
...,...,...,...,...,...,...,...,...
995,"(2020-10-31 01:39:57, 1992.6981610056937)",Grant Garcia,bgray@yahoo.com,Bahamas,"Investment banker, corporate",1988-04-19,L61737589,4312460928
996,"(2020-10-31 02:39:57, 758.6848040130069)",Ashley Jackson,cassandra65@hotmail.com,Seychelles,"Pilot, airline",2022-04-13,S61384049,(827)941-3226x074
997,"(2020-10-31 03:39:57, 1489.9342792769974)",Vanessa Cole,mbrown@gmail.com,North Macedonia,Housing manager/officer,1996-05-02,G91430326,301.058.5823
998,"(2020-10-31 04:39:57, 1695.3451333235885)",Ricardo Walker,david58@yahoo.com,Malaysia,Chartered loss adjuster,1999-03-30,376901715,868-260-7302x579
999,"(2020-10-31 05:39:57, 2122.8944539755744)",Patricia Butler,dwoods@gmail.com,Armenia,Water quality scientist,1947-08-20,R60461743,(996)329-0291x14247